{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="signup">
        <div class="text-center"><a href="index.html"><img src="images/logos/logo.png" alt="" class="img-fluid"></a>
        </div>
        <h3 class="mt-4">{{ object|yesno:"Update, Create" }} topic</h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="col-md-12">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}